

        <div class="container">
          <header>
            <h1 class="brand-logo">{{config?.title | uppercase}}</h1>  
          <div class="nav-wrapper">
           <nav>
             <ul class="nav-links">
               <li class="list-nav"><a href="#">Task manager</a></li>
               <li class="list-nav"><a href="#">Quote</a></li>
               <li class="list-nav"><a href="#">Another task</a></li>
             </ul>
             <a href="cta" href="#"> <button class="nav-button"><span class="span-nav-btn"></span>  Contact</button></a>
           </nav>
          </div>
        </header>
      
        <ul class="list-tasks" *ngIf="tasks.length >0; else noTasks">
          <ng-container *ngFor="let task of tasks; let i = index"[ngSwitch]="task.done" >
          <li class="collection-item row" *ngSwitchCase="false">
            <span class="task-date">{{i+1}}} {{task.name}} {{task.deadline | date: 'd.MM.EEEE' : "" : 'pl'}}</span>
            <div class="col s2 right-align">
              <button class="btn-floating-action " (click)="deleteTask(task)">
                <span class="span-btn-action-red"></span>
                <i class="fas fa-minus"></i>
              </button>
              
              <button class="btn-floating-action" (click)="markTaskAsDone(task)">
                <span class="span-btn-action-green"></span>
                <i class="fas fa-check"></i>
              </button>
          
            </div>
          </li>
          <li class="collection-item row" *ngSwitchCase="true">
            <span class="col done">{{task.name}}</span>
          </li>
        </ng-container>
        </ul>
      <ng-template #noTasks>
        <h1>Brak zadań do wykonania</h1>
      </ng-template>
      
      
      <div class="add-task-row">
        <ng-container *ngIf="editMode; then editOn; else editOff"></ng-container>
        <ng-template #editOff>
        <button class="btn-add  " (click)="switchEditMode()"><span class="span-btn"></span>Dodaj zadanie</button>
        </ng-template>
        <ng-template #editOn>
        <button class="btn-end" (click)="switchEditMode()"><span class="span-btn"></span>Zakończ</button>
      </ng-template>
      </div>
       <div class="row" *ngIf="editMode">
        <input class="task-input" type="text" placeholder="Dodaj zadanie i datę wykonania" [(ngModel)]="taskName"/>
        <div></div>
        <input class="task-input" type="date" [(ngModel)]="taskDate"/>
        <button class="btn-floating" (click) = "createTask()"[disabled]="taskName ==='' || taskDate===''">
          <span class="span-btn"></span>
         Dodaj</button>
      </div>
      
      
        <button class="btn-clear" 
        (click)="clearTasks()" 
        [disabled]="tasks.length === 0 "
      > 
        <span class="span-btn"></span>
        Wyczyść</button>
      
        <footer class="page-footer ">
          <div class="footer-copyright">
            <div class="container">
      
            {{ config?.date | date: 'yyyy'}}   {{config?.footer}}
            
            </div>
          </div>
        </footer>
      </div>
      
      









        
    